<% provide(:title, 'Add New SubCategory') %>
<div class="container containerwidth" style="background-color:#ffffff;border:1px solid #dedede;box-shadow:2px 2px 2px 2px #dedede;">

<h1 align="center">Add New Category</h1>

 <div class="form-group formwidth">
   <%#= form_form :category, url: category_index_path do |f| %>
   <%= form_for @category, as: :category, url: admin_categories_new_path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
       <div class="form-group">
      <%= f.label :Parent_Category %>
      <%= f.collection_select(:parent, Category.where(:parent=>'root') , :category_name, :category_name ,:include_blank => 'root') %>
 </div>
 <div class="form-group">
      <%=f.label :Category_name %>
      <%=f.text_field :category_name %>
           </div>
            <div class="form-group">

      <%= f.submit "Add", class: "btn btn-primary" %> &nbsp;&nbsp;&nbsp;
      <%= link_to "Cancel", admin_categories_path, class: "btn btn-primary" %>
    <% end %>
    </div>
    </div>
</div>
