<div style="float:right;margin-right:30px;">
	<%= link_to "Add New Category", admin_categories_new_path , :class => 'btn btn-success btn-lg'%>
</div>
<br/>
<div>
<h1 align="center">Category List</h1>
<div class="table-responsive">
  <table class="table table-bordered table table-hover table table-striped tablewidth">
	<tr>
		<th>Category Id</th>
		<th>Category Name</th>
		<th>Parent</th>
		<th colspan="3">Action</th>

 		<% @category.each do |c| %>
 	<tr>
		<td><%=c.id%></td>
		<td><%=c.category_name%></td>
		<td><%=c.parent%></td>
		<td >
    	<%= link_to 'Edit', edit_category_path(c) , :class => 'btn btn-success btn-lg' %> &nbsp;&nbsp;&nbsp;
	    <%= link_to 'Delete', category_path(c),:class => 'btn btn-danger btn-lg',
                    method: :delete, data: { confirm: 'All its subcategories will be deleted.Do you want to continue?' } %> 

         <%if c.parent=="root"%>
         <%else%>

        <%= link_to 'Manage Questions', question_path(c), :class => 'btn btn-success btn-lg' %>
        <%end%>
</td>
	</tr>
<%end%>
</table>
</div>
</div>
