<% if (signed_in? && current_user.role=='sadmin') %>
<div style="float:right;margin-right:30px;">
<%= link_to 'Add new user', admin_users_new_path , :class => 'btn btn-success btn-lg'%>
<% end %>
</div>

<h1 align="center">User List</h1>
<div class="table-responsive">
  <table class="table table-bordered table table-hover table table-striped tablewidth">

<tr>

<th>User Name</th>
<th>Role</th>
<th colspan="2">Action</th>
 <% @user.each do |u| %>
 <%if u.role=='sadmin'%>
 <%else%>
<tr>

<td><%=u.name%></td>
<td><%=u.role%></td>
<td colspan="2">
	<%= link_to 'Edit', edit_admin_path(u) , :class => 'btn btn-success btn-lg' %> &nbsp;&nbsp;&nbsp;
	<%= link_to 'Delete', admin_path(u),:class => 'btn btn-danger btn-lg',
                    method: :delete, data: { confirm: 'Are you sure?' } %> 
</td>
</tr>


<%end%>
<%end%>
</table>
</div>