<% provide(:title, 'Edit Questions') %>

<div class="container containerwidth" style="background-color:#ffffff;border:1px solid #dedede;box-shadow:2px 2px 2px 2px #dedede;">

<h1 align="center">Edit Question</h1>
<div class="form-group formwidth">
  
     <%= form_for @question ,:controller => "question", :action => "edit"  do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
       <div class="form-group">
         <%= f.label :Category_name%>
         <%= f.collection_select(:category, Category.where(:id=>$foo.id), :parent, :parent , class: "form-control") %>
       </div>
       
      <div class="form-group">
         <%= f.label :Subcategory_name%>
          <%= f.collection_select(:subcategory_id, Category.where(:id=>$foo.id),  :id ,:category_name ,class: "form-control") %>
       </div>
       
      <div class="form-group">
        <%=f.label :Select_Question_Level%>
        <%= f.select(:question_level, options_for_select([['1',1],['2',2],['3',3],['4',4],['5',5], ['6',6]])) %>
      </div>
      
      <div class="form-group" >
        <%=f.label :Add_Question %>
        <%=f.text_field :question %>
      </div>

      <div class="form-group" >
      <%=f.label :Option1 %>
      <%=f.text_field :option1 %>
</div>
      <div class="form-group" >
      <%=f.label :Option2 %>
      <%=f.text_field :option2 %>
</div>
      <div class="form-group" >
      <%=f.label :Option3 %>
      <%=f.text_field :option3 %>
</div>
      <div class="form-group" >
      <%=f.label :Option4 %>
      <%=f.text_field :option4 %>
</div>
      <div class="form-group" >
      <%=f.label :Correct_Answer %>
      <%=f.text_field :answer %>
</div>
         <%= f.submit "Edit", class: "btn btn-large btn-primary" %>
        <%= link_to "Cancel",  question_path($foo.id), class: "btn btn-large btn-primary" %>
    <% end %>
  
</div>
