<div style="float:right;margin-right:30px;">


	<%= link_to "Add New Question", admin_categories_question_new_path , :class => 'btn btn-success btn-lg'%>

</div>
<br/>
<div>
<h1 align="center">Question List</h1>
<div class="table-responsive">
  <table class="table table-bordered table table-hover table table-striped tablewidth">
	<tr>
		<th>Question Id</th>
		<th>Question</th>
 		<th>Level</th>
 		<th colspan="2">Action</th>

 		
 		<% @question.each do |c| %>
 	<tr>
		<td><%=c.id%></td>
		<td><%=c.question%></td>
		<td><%=c.question_level%></td>
		
		<td >
    	<%= link_to 'Edit', edit_question_path(c) , :class => 'btn btn-success btn-lg' %> &nbsp;&nbsp;&nbsp;
	    <%= link_to 'Delete', question_path(c),:class => 'btn btn-danger btn-lg',
                    method: :delete, data: { confirm: 'Are you sure?' } %> 
       
        
        </td>
	</tr>
<%end%>

</table>
</div>
</div>
